
img {
    height: 30%;
}

.imageWrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.imageWrapper img {
    display: inline-flex;
    
    align-items: baseline;
    padding: 8px;
    width: 256px;  /* Or whatever */
    height: 256px; /* Or whatever */
    margin: auto;  /* Magic! */
    
}